@model FelicanoWeb.ViewModels.HomeIndexVM

<section class="hero-wrap hero-wrap-2" style="background-image: url(/images/bg_3.jpg);"
         data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text align-items-end justify-content-center">
            <div class="col-md-9 ftco-animate text-center mb-4">
                <h1 class="mb-2 bread">Food</h1>
            </div>
        </div>
    </div>
</section>
<br />
<div class="container">
    <div class="text-center">
        <button style="  width: 180px; height: 70px;" class="btn btn-warning filter-product-btn" data-filter="all">All</button>
        @foreach (var item in Model.Categories)
        {
            <button style="width:180px; height:70px;" class=" btn btn-warning filter-product-btn" data-filter="@item.CategoryName">@item.CategoryName</button>
        }
    </div>
    <div class="row mt-5">
        @foreach (var item in Model.Foods)
        {
            <div class="col-md-6 pb-4 filter @item.Category.CategoryName">
                <div class="col-md-12 ">
                    <div class="menus d-sm-flex">
                        <div class="menu-img img order-md-last" style="background-image: url(@item.ImageUrl);"></div>
                        <div class="text d-flex align-items-center">
                            <div>
                                <div class="d-flex">
                                    <div class="one-half">
                                        <h3>@item.Name</h3>
                                    </div>
                                    <div class="text-danger">
                                        <b class="price">@item.Price đ</b>
                                    </div>
                                </div>
                                <p>@item.Description</p>
                                <p><a href="" class="btn btn-primary">Order now</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
@section Scripts {
    <script>
        $(document).ready(function () {
            $(".filter-product-btn").click(function () {
                let value = $(this).attr('data-filter');

                if (value == "all") {
                    $(".filter").show('10000');
                }
                else {
                    $(".filter").not('.' + value).hide('10000');
                    $(".filter").filter('.' + value).show('10000');
                }
            })
        })
    </script>
}